pkgbase = coursier
	pkgdesc = Pure Scala Artifact Fetching
	pkgver = 2.1.10
	pkgrel = 1
	url = http://get-coursier.io
	arch = any
	license = Apache
	depends = java-runtime-headless>=8
	depends = bash
	noextract = builder-2.1.10
	source = builder-2.1.10::https://github.com/coursier/coursier/releases/download/v2.1.10/coursier
	sha256sums = 7e26709830ee69a7c16d841d3b13e94eb95e30b3926a40ad7a2ce92b07064ad9

pkgname = coursier
